.list-content {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;

  .list {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
  }

  .list-item {
    width: 300px;
    border: 1px solid #dedede;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 0;
    margin-bottom: 5px;
    &:not(:last-child) {
      margin-right: 5px;
    }

    .img {
      flex: 1;
      width: 100%;
      text-align: center;
    }

    .span {
      flex: 1;
      width: 100%;
      text-align: center;
      margin-top: 8px;
    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}