@import '~antd/dist/antd.css';

.todo-container {
    width: 5rem;
    border: 0.02rem solid #dedede;
    padding: 0.08rem 0.1rem;
    border-radius: 0.08rem;
    margin: 0 auto;
}

input[type=checkbox] {
    border: 0.01rem solid #dedede;
    width: 0.15rem;
    height: 0.15rem;
}

input[type=text] {
    outline: none;
}

.input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 0.04rem;
    border: 0.01rem solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 0.34rem;
    line-height: 0.34rem;
    outline: none;
    padding: 0 0.15rem;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}

.btn {
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    border: 1px solid #dcdfe6;
    color: #606266;
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1;
    margin-left: 8px;
}


.btn-danger {
    border-color: #f56c6c;
    background-color: #f56c6c;
    color: white;
}

.btn-danger:active {
    background: #dd6161;
    border-color: #dd6161;
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
}

.btn-primary:active {
    background: #3a8ee6;
    border-color: #3a8ee6;
    color: #fff;
}

.search-case__container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.08rem;
}

.spa-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.spa-container .span-nav {
    flex: 0 0 100%;
    text-align: center;
    padding: 0.2rem 0;
}

.spa-container .span-nav a {
    margin-right: 0.2rem;
    display: inline-block;
    width: 1rem;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    text-decoration: none;
}

.active {
    background: #3a8ee6;
    border-color: #3a8ee6;
    color: #fff;
}