.todo-container {
    width: 500px;
    border: 2px solid #dedede;
    padding: 8px 10px;
    border-radius: 8px;
    margin: 0 auto;
}

input[type=checkbox] {
    border: 1px solid #dedede;
    width: 15px;
    height: 15px;
}

input[type=text] {
    outline: none;
}

.input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 34px;
    line-height: 34px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}

.btn {
    padding: 8px 20px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    border: 1px solid #dcdfe6;
    color: #606266;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1;
}

.btn-danger {
    border-color: #f56c6c;
    background-color: #f56c6c;
    color: white;
}

.btn-danger:active {
    background: #dd6161;
    border-color: #dd6161;
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
}

.btn-primary:active {
    background: #3a8ee6;
    border-color: #3a8ee6;
    color: #fff;
}

.search-case__container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
}